.title-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-row {
    margin: 20px 10px 20px 10px
}

.dashboard-chart {
    padding: 5px;
    background-color: #f2ecf3;
}

.model-page {
    margin: 10px 20px 10px 20px;
}

.output-area {
    height: 100px;
}

.positive-sentiment-label { 
    padding: 10px;  
    color: 'green'
}

.negative-sentiment-label {
    padding: 10px;
    color: 'red'
}